body {
  font-family: Arial;
  margin: 0;
}

nav {
  background-color: black;
}

nav h1, header h1 {
  text-align: center;
}

nav h1 {
  margin: 0;
  padding: 0.5em;
  background-color: rgba(77, 99, 135, 0.87);
  color: white;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: .2em .4em;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

form label, form input, form select {
  margin-left: .3em;
  margin-right: .3em;
  float: left;
  display: block;
}

form label {
  text-align: right;
  width: 12em;
}

form input {
}

form div {
  padding-top: .3em;
  padding-bottom: .3em;
  clear: both;
}

.content {
  padding: .7em;
}

.rs1 td {
  background-color: #dfdfdf;
}

.rs2 td {
  background-color: #ffffff;
}

#navigation {
  text-align: center;
}

#navigation li {
  float: left;
  padding: .4em 1em;
}

#navigation li a {
  color: white;
  text-decoration: None;
}

#navigation li.active {
  color: white;
  text-decoration: None;
  background-color: gray;
}

#metasearch {
  float: left;
  margin: 0 auto;
  width: 60%;
}

#metasearch li input, #metasearch li label {
  display: inline;
  float: none;
}

#status {
  position: absolute;
  right: .1em;
  width: 30em;
}

#search_results {
  padding-top: 1em;
  clear: both;
}

div#results_wrapper{
  overflow: x-auto;
}

table#results {
  border-collapse: collapse;
  border: 1px solid black;
}
