{% extends 'base_1.html' %}
{% set active_page = 'home' %}
{% block header %}{% endblock %}
{% block content %}
{%- if not config['CLIENT'] %}
  <div>
    <p>You are not currently connected to any ECS instance. Please configure the ECS parameters through the <a href="{{ url_for('configuration') }}">Configuration</a> link.</p>
  </div>
{%- else %}
  <div id="metasearch">
    <h2>Search</h2>
    {%- if form.tags.choices %}
    <form method="post" id="search">
      {%- if form.errors -%}
      <div>
        <span>Errors were found in your input:</span>
        {%- for field, errors in form.errors.iteritems() %}
        <div class="alert alert-error">
            {{ form[field].label }}: {{ ', '.join(errors) }}
        </div>
        {%- endfor %}
      </div>
      {%- endif %}
      <div>
        {{ form.search_term(size=48) }}
        {{ form.submit() }}
      </div>
      <div>
        <span>Search in tags</span>
        {{ form.tags }}
      </div>
      {{ form.type }}
      {{ form.csrf_token }}
    </form>
    {%- else %}
    <span>Search is not availale for this bucket</span>
    {%- endif %}
  </div>
  <div id="status">
    <h2>Status</h2>
    <ul>
      <li>Connected to: {{ config['ENDPOINT'] }} </li>
      <li>User: {{ config['ACCESS_ID'] }}</li>
      <li>Selected bucket: {{ config['BUCKET'] }}</li>
      <li>Available buckets: {{ config['BUCKET_LIST']|length }}</li>
      <li>Search enabled buckets:
        <ul class="indent1">
          {%- for bucket in config['SEARCHABLE_BUCKETS'] %}
          <li>{{ bucket }}</li>
          {%- endfor %}
        </ul>
      </li>
    </ul>
  </div>
  <div id="search_results">
    <h2>Search results</h2>
    <div id="results_wrapper">
    {%- if search_results %}
      <table id="results">
        <tr>
          <th></th>
          <th>File identifier</th>
          {%- for header in config['SEARCH_TAGS'] %}
          <th class="tag_{{ header }}">{{ header }}</th>
          {%- endfor %}
        </tr>
        {%- set row_classes = ['dl_link', 'item'] + config['SEARCH_TAGS'] %}
        {%- for row in search_results %}
        <tr class={{ loop.cycle('rs1', 'rs1', 'rs2', 'rs2') }}>
          {%- for col in row %}
          {%- if loop.index0 == 0 %}
          <td class="{{ row_classes[loop.index0] }}"><a href="{{ col if col }}" class="dl_link" target="_blank" rel="external" download>Download</a></td>
          {%- else %}
          <td class="tag_{{ row_classes[loop.index0] }}">{{ col if col }}</td>
          {%- endif %}
          {% endfor %}
        </tr>
        {%- endfor %}
      </table>
      <span class="expiration_time">Download links expire at: {{ expiration }}</span>
    {%- else %}
      <span>No search reasults</span>
    {%- endif %}
    </div>
  </div>
{%- endif %}
{%- endblock %}
